.nav{
   margin-top: 20px;
   margin-left: 650px;   

}
h1{
    display: inline-block;
    margin-left: 60px;
}
.grecee{
    position: relative;
    width: 100%;
}
.text{
    position:absolute;
    width: 625px;
    top:300px;
    left:500px;
}
p{
    font-size: 91px;
    color:#FFFFFF;
}
h2{
    width: 400px;
    font-size: 22px;
    margin-left:100px;
    margin-top:20px;
    color: #FFFFFF;
}
.box{
    width: 235px;
    margin-left: 40px;
    vertical-align: top;
    display: inline-block;
}
h3{
    margin-top:20px;
    font-size: 17px;
    color: #636060;
}
h4{
    margin-top: 20px;
    font-size: 28px;
    color: #010101;
}
h5{
    margin-top: 20px;
    font-size: 20px;
    color: #636060;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container > div {
    width: 300px;
    margin: 50px;
    text-align: center;   
}
.mini{
    width: 286px;
    height: 250px;
}
.down{
    font-size: 18px;
    line-height: 20.7px;
    color: #636060;
}
